<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovation.auto.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.innovation.auto.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="agree_num" jdbcType="VARCHAR" property="agreeNum" />
    <result column="disagree_num" jdbcType="VARCHAR" property="disagreeNum" />
    <result column="reference_id" jdbcType="INTEGER" property="referenceId" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, article_id, content, agree_num, disagree_num, reference_id, created_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.innovation.auto.entity.Comment">
    insert into comment (id, user_id, article_id, 
      content, agree_num, disagree_num, 
      reference_id, created_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{agreeNum,jdbcType=VARCHAR}, #{disagreeNum,jdbcType=VARCHAR}, 
      #{referenceId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.innovation.auto.entity.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="agreeNum != null">
        agree_num,
      </if>
      <if test="disagreeNum != null">
        disagree_num,
      </if>
      <if test="referenceId != null">
        reference_id,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="agreeNum != null">
        #{agreeNum,jdbcType=VARCHAR},
      </if>
      <if test="disagreeNum != null">
        #{disagreeNum,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        #{referenceId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.innovation.auto.entity.Comment">
    update comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="agreeNum != null">
        agree_num = #{agreeNum,jdbcType=VARCHAR},
      </if>
      <if test="disagreeNum != null">
        disagree_num = #{disagreeNum,jdbcType=VARCHAR},
      </if>
      <if test="referenceId != null">
        reference_id = #{referenceId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.innovation.auto.entity.Comment">
    update comment
    set user_id = #{userId,jdbcType=INTEGER},
      article_id = #{articleId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      agree_num = #{agreeNum,jdbcType=VARCHAR},
      disagree_num = #{disagreeNum,jdbcType=VARCHAR},
      reference_id = #{referenceId,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询用户评论-->
  <select id="selectMyComment" parameterType="com.innovation.auto.entity.Comment" resultMap="BaseResultMap">
    select t1.*,t2.title
    from comment t1
    inner join article t2 on t1.article_id = t2.id
    <where>
      <if test="userId != null">
        t1.user_id = #{userId}
      </if>
    </where>
  </select>

  <!--查询资讯评论-->
  <select id="selectInfoComment" parameterType="com.innovation.auto.entity.Comment" resultMap="BaseResultMap">
    select t1.*,t2.name
    from comment t1
    inner join user t2 on t1.user_id = t2.id
    <where>
      <if test="articleId != null">
        t1.article_id = #{articleId}
      </if>
    </where>
  </select>


</mapper>