<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovation.auto.mapper.CountryMapper">
  <resultMap id="BaseResultMap" type="com.innovation.auto.entity.Country">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="ccode" jdbcType="VARCHAR" property="ccode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, country, ccode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from country
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.innovation.auto.entity.Country">
    insert into country (id, country, ccode
      )
    values (#{id,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{ccode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.innovation.auto.entity.Country">
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="ccode != null">
        ccode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null">
        #{ccode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.innovation.auto.entity.Country">
    update country
    <set>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null">
        ccode = #{ccode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.innovation.auto.entity.Country">
    update country
    set country = #{country,jdbcType=VARCHAR},
      ccode = #{ccode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询所有国家-->
  <select id="selectCountry" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from country
  </select>

</mapper>