<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innovation.auto.mapper.MotorInfoMapper">
  <resultMap id="BaseResultMap" type="com.innovation.auto.entity.MotorInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="manufacturer_id" jdbcType="INTEGER" property="manufacturerId" />
    <result column="made_country" jdbcType="VARCHAR" property="madeCountry" />
    <result column="market_time" jdbcType="TIMESTAMP" property="marketTime" />
    <result column="retail_price" jdbcType="DECIMAL" property="retailPrice" />
    <result column="displacement" jdbcType="VARCHAR" property="displacement" />
    <result column="cylinders_num" jdbcType="VARCHAR" property="cylindersNum" />
    <result column="stroke" jdbcType="VARCHAR" property="stroke" />
    <result column="per_cylinder_valve" jdbcType="VARCHAR" property="perCylinderValve" />
    <result column="maximum_power" jdbcType="VARCHAR" property="maximumPower" />
    <result column="maximum_torque" jdbcType="VARCHAR" property="maximumTorque" />
    <result column="fuel_consumption" jdbcType="VARCHAR" property="fuelConsumption" />
    <result column="gear" jdbcType="VARCHAR" property="gear" />
    <result column="tank_capacity" jdbcType="VARCHAR" property="tankCapacity" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="maximum_speed" jdbcType="VARCHAR" property="maximumSpeed" />
    <result column="brake_system" jdbcType="VARCHAR" property="brakeSystem" />
    <result column="instrument" jdbcType="VARCHAR" property="instrument" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="hot" jdbcType="INTEGER" property="hot" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, model, manufacturer_id, made_country, market_time, retail_price, displacement, 
    cylinders_num, stroke, per_cylinder_valve, maximum_power, maximum_torque, fuel_consumption, 
    gear, tank_capacity, weight, maximum_speed, brake_system, instrument, type, hot, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from motor_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from motor_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.innovation.auto.entity.MotorInfo">
    insert into motor_info (id, name, model, 
      manufacturer_id, made_country, market_time, 
      retail_price, displacement, cylinders_num, 
      stroke, per_cylinder_valve, maximum_power, 
      maximum_torque, fuel_consumption, gear, 
      tank_capacity, weight, maximum_speed,
      brake_system, instrument, type, hot, img)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{manufacturerId,jdbcType=INTEGER}, #{madeCountry,jdbcType=VARCHAR}, #{marketTime,jdbcType=TIMESTAMP}, 
      #{retailPrice,jdbcType=DECIMAL}, #{displacement,jdbcType=VARCHAR}, #{cylindersNum,jdbcType=VARCHAR}, 
      #{stroke,jdbcType=VARCHAR}, #{perCylinderValve,jdbcType=VARCHAR}, #{maximumPower,jdbcType=VARCHAR}, 
      #{maximumTorque,jdbcType=VARCHAR}, #{fuelConsumption,jdbcType=VARCHAR}, #{gear,jdbcType=VARCHAR}, 
      #{tankCapacity,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{maximumSpeed,jdbcType=VARCHAR},
      #{brakeSystem,jdbcType=VARCHAR}, #{instrument,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}),
      #{hot,jdbcType=INTEGER}), #{img,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.innovation.auto.entity.MotorInfo">
    insert into motor_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="manufacturerId != null">
        manufacturer_id,
      </if>
      <if test="madeCountry != null">
        made_country,
      </if>
      <if test="marketTime != null">
        market_time,
      </if>
      <if test="retailPrice != null">
        retail_price,
      </if>
      <if test="displacement != null">
        displacement,
      </if>
      <if test="cylindersNum != null">
        cylinders_num,
      </if>
      <if test="stroke != null">
        stroke,
      </if>
      <if test="perCylinderValve != null">
        per_cylinder_valve,
      </if>
      <if test="maximumPower != null">
        maximum_power,
      </if>
      <if test="maximumTorque != null">
        maximum_torque,
      </if>
      <if test="fuelConsumption != null">
        fuel_consumption,
      </if>
      <if test="gear != null">
        gear,
      </if>
      <if test="tankCapacity != null">
        tank_capacity,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="maximumSpeed != null">
        maximum_speed,
      </if>
      <if test="brakeSystem != null">
        brake_system,
      </if>
      <if test="instrument != null">
        instrument,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="hot != null">
        hot,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="madeCountry != null">
        #{madeCountry,jdbcType=VARCHAR},
      </if>
      <if test="marketTime != null">
        #{marketTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retailPrice != null">
        #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="displacement != null">
        #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="cylindersNum != null">
        #{cylindersNum,jdbcType=VARCHAR},
      </if>
      <if test="stroke != null">
        #{stroke,jdbcType=VARCHAR},
      </if>
      <if test="perCylinderValve != null">
        #{perCylinderValve,jdbcType=VARCHAR},
      </if>
      <if test="maximumPower != null">
        #{maximumPower,jdbcType=VARCHAR},
      </if>
      <if test="maximumTorque != null">
        #{maximumTorque,jdbcType=VARCHAR},
      </if>
      <if test="fuelConsumption != null">
        #{fuelConsumption,jdbcType=VARCHAR},
      </if>
      <if test="gear != null">
        #{gear,jdbcType=VARCHAR},
      </if>
      <if test="tankCapacity != null">
        #{tankCapacity,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="maximumSpeed != null">
        #{maximumSpeed,jdbcType=VARCHAR},
      </if>
      <if test="brakeSystem != null">
        #{brakeSystem,jdbcType=VARCHAR},
      </if>
      <if test="instrument != null">
        #{instrument,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.innovation.auto.entity.MotorInfo">
    update motor_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null">
        manufacturer_id = #{manufacturerId,jdbcType=INTEGER},
      </if>
      <if test="madeCountry != null">
        made_country = #{madeCountry,jdbcType=VARCHAR},
      </if>
      <if test="marketTime != null">
        market_time = #{marketTime,jdbcType=TIMESTAMP},
      </if>
      <if test="retailPrice != null">
        retail_price = #{retailPrice,jdbcType=DECIMAL},
      </if>
      <if test="displacement != null">
        displacement = #{displacement,jdbcType=VARCHAR},
      </if>
      <if test="cylindersNum != null">
        cylinders_num = #{cylindersNum,jdbcType=VARCHAR},
      </if>
      <if test="stroke != null">
        stroke = #{stroke,jdbcType=VARCHAR},
      </if>
      <if test="perCylinderValve != null">
        per_cylinder_valve = #{perCylinderValve,jdbcType=VARCHAR},
      </if>
      <if test="maximumPower != null">
        maximum_power = #{maximumPower,jdbcType=VARCHAR},
      </if>
      <if test="maximumTorque != null">
        maximum_torque = #{maximumTorque,jdbcType=VARCHAR},
      </if>
      <if test="fuelConsumption != null">
        fuel_consumption = #{fuelConsumption,jdbcType=VARCHAR},
      </if>
      <if test="gear != null">
        gear = #{gear,jdbcType=VARCHAR},
      </if>
      <if test="tankCapacity != null">
        tank_capacity = #{tankCapacity,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="maximumSpeed != null">
        maximum_speed = #{maximumSpeed,jdbcType=VARCHAR},
      </if>
      <if test="brakeSystem != null">
        brake_system = #{brakeSystem,jdbcType=VARCHAR},
      </if>
      <if test="instrument != null">
        instrument = #{instrument,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="hot != null">
        type = #{hot,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        type = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.innovation.auto.entity.MotorInfo">
    update motor_info
    set name = #{name,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=INTEGER},
      made_country = #{madeCountry,jdbcType=VARCHAR},
      market_time = #{marketTime,jdbcType=TIMESTAMP},
      retail_price = #{retailPrice,jdbcType=DECIMAL},
      displacement = #{displacement,jdbcType=VARCHAR},
      cylinders_num = #{cylindersNum,jdbcType=VARCHAR},
      stroke = #{stroke,jdbcType=VARCHAR},
      per_cylinder_valve = #{perCylinderValve,jdbcType=VARCHAR},
      maximum_power = #{maximumPower,jdbcType=VARCHAR},
      maximum_torque = #{maximumTorque,jdbcType=VARCHAR},
      fuel_consumption = #{fuelConsumption,jdbcType=VARCHAR},
      gear = #{gear,jdbcType=VARCHAR},
      tank_capacity = #{tankCapacity,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      maximum_speed = #{maximumSpeed,jdbcType=VARCHAR},
      brake_system = #{brakeSystem,jdbcType=VARCHAR},
      instrument = #{instrument,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查询所有汽车信息-->
  <select id="selectAuto" parameterType="Map" resultType="java.util.LinkedHashMap">
    SELECT
    a.id,
    a.`name`,
    a.model,
    b.manufacturer_name,
    c.country,
    a.market_time,
    a.retail_price,
    a.displacement,
    a.img,
    a.cylinders_num,
    a.stroke,
    a.per_cylinder_valve,
    a.maximum_power,
    a.maximum_torque,
    a.fuel_consumption,
    a.gear,
    a.tank_capacity,
    a.weight,
    a.brake_system,
    a.instrument,
    a.maximum_speed,
    d.`value` type,
    a.hot
    FROM
    motor_info a
    LEFT JOIN manufacturer b ON a.manufacturer_id = b.id
    LEFT JOIN country c ON a.made_country = c.ccode
    LEFT JOIN `code` d ON a.type = d.id
    <where>
      <if test="null != countryId">
        a.made_country = #{countryId}
      </if>
      <if test="name != null">
        a.name like '%${name}%'
      </if>
    </where>
  </select>

  <!-- 分类查询机车 -->
  <select id="selectByCategory" resultType="java.util.HashMap">
    SELECT
	c.`value`,
	m.`name`,
	m.id,
	m.hot
    FROM
	motor_info m,
	CODE c
    WHERE
	m.type = c.id
  </select>

  <!-- 查询特定motor详细信息-->
  <select id="selectByMotorId" parameterType="java.lang.Integer" resultType="java.util.LinkedHashMap">
    SELECT
        a.id,
        a.`name`,
        a.model,
        b.manufacturer_name,
        c.country,
        a.market_time,
        a.retail_price,
        a.displacement,
        a.img,
        a.cylinders_num,
        a.stroke,
        a.per_cylinder_valve,
        a.maximum_power,
        a.maximum_torque,
        a.fuel_consumption,
        a.gear,
        a.tank_capacity,
        a.weight,
        a.brake_system,
        a.instrument,
        a.maximum_speed,
        d.`value` type,
        a.hot
    FROM
        motor_info a,
        manufacturer b,
        country c,
        `code` d
    WHERE
        a.manufacturer_id = b.id
    AND a.made_country = c.ccode
    AND a.type = d.id
    AND a.id = #{id}
  </select>

</mapper>